* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    image-rendering: pixelated;
}

body {
    background-color: black;
}

main {
    margin: 0 auto;
    max-width: 440px;
    color:plum;
    font-family: MS UI Gothic, monospace;
    font-size: 16px;
    padding: 0px 6px;
    margin-bottom: 100px;   
}

p {
    padding: 0px 2px;
}

.title {
    margin-left: 4px;
}

hr {
    height: 1px;
    border: 0px;
    background-color: #e0b0ff30;
}

p a {
    text-decoration: none;
    font-weight:bold;
    color:#9e4ef5;
}

p a:hover {
    color:#d791ff;
  }

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons img {
    vertical-align: middle;
}

fieldset {
    padding: 0 1ch 8px 1ch;
    margin-top: 16px;
    border: 1px solid #e0b0ff30;
}

*::-webkit-scrollbar{ 
    display: none;
  }

.anchor {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}