@font-face {
  font-family: freepixel;
  src: url(assets/freepixel.ttf);
}

@font-face {
  font-family: VCR OSD MONO;
  src: url(assets/BetterVCR\ 25.09.ttf);
}

* {
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    image-rendering: pixelated;
}

body {
    background-color: black;
}

main {
    margin: 0 auto;
    max-width: 440px;
    color:#ffd319;
    font-family: freepixel;
    padding: 0 6px;  
}

h1 {
    margin: 21px;
}

h3 {
    margin: 19px 0;
}

p {
    padding: 0 2px;
    margin: 16px 0;
}

legend {
    margin-left: 4px;
}

.heading {
    font-family: VCR OSD MONO;
}

hr {
    height: 1px;
    border: 0;
    margin: 8px 0;
    background-color: #ffd31930;
}

nav a {
    margin-right: 4px;
}

a {
    text-decoration: none;
    font-weight:bold;
    color:#ff901f;
}

a:hover {
    color:#f26a54;
}

input {
    color-scheme: dark;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons img {
    vertical-align: middle;
}

fieldset {
    padding: 0 1ch 8px 1ch;
    margin: 16px 2px 0 2px;
    border: 1px solid #ffd31930;
}

*::-webkit-scrollbar{ 
    display: none;
  }

.anchor {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}